##############################
# Maven
##############################
target/

##############################
# VSCode
##############################
.vscode/
*.code-workspace

##############################
# Java / Build Artifacts
##############################
bin/
out/
*.class
*.jar
*.log

##############################
# JavaFX SDK (NO debe estar en el repo)
##############################
lib/
javafx-sdk*/

##############################
# Sistema Operativo / Windows
##############################
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp

##############################
# Node / NPM
##############################
node_modules/

##############################
# IDEs
##############################
.idea/
*.iml
*.swp
*.swo