# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Java
*.class
*.log
*.jar
*.war
*.ear
*.iml

# VSCode
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.vscode/
.history/
.settings/
*.code-workspace

# Eclipse (por si acaso)
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.ipr
*.iws
*.iml
out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Directorios específicos del sistema o del entorno local
especifSO/

# Temporary files
*.tmp
*.swp
*.swo

# Test reports
surefire-reports/
failsafe-reports/

# Java Language Server cache
.jdt/

# Libs
lib/
*.zip
*.dll
*.so
*.deb


